{% extends 'base.html' %}

{% block content %}
<h2>Editar Proyecto</h2>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="nombre" value="{{ proyecto.nombre }}" required>
    <textarea name="descripcion" required>{{ proyecto.descripcion }}</textarea>
    <input type="date" name="fecha_final" value="{{ proyecto.fecha_final|date:'Y-m-d' }}" required>
    <input type="number" name="duracion_dias" value="{{ proyecto.duracion_dias }}" required>
    <button type="submit">Guardar Cambios</button>
</form>
<a href="{% url 'gestionar_proyectos' %}">Volver</a>
{% endblock %}