<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #000;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'inicio' %}">PROJECTS JJ</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sobre Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionar_proyectos' %}">Proyectos</a></li>
      </ul>

      <div class="d-flex align-items-center">
        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar perfil</a></li>
              <li><form method="POST" action="{% url 'logout' %}" style="margin: 0;">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Cerrar sesión</button>
                    </form></li>
            </ul>
          </div>
        {% else %}
          <a href="{% url 'login_usuario' %}" class="btn btn-outline-light me-2">Iniciar Sesión</a>
          <a href="{% url 'registro' %}" class="btn btn-warning">Registrarse</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>